<h1>Nous contacter</h1>
<p>
  Sinon on a un YOPMAIL
  <a href="mailto:thp.grenoble.s8@yopmail.com?subject=feedback">
    thp.grenoble.s8@yopmail.com</a>
</p>

<p>
  Après, une bonne méthode aussi, c'est de passer par le
  <a href="https://thehackingproject.slack.com/messages/UHFNBN79D/" target = "_blank">slack THP</a>
</p>

<p>
  En tout cas, si tu as des commentaires (et qu'ils sont positifs)
  ils sont les bienvenus.
  </p>
