<html>
  <head>
    <meta charset=utf-8 />
    <title>Gossip accueil</title>
  </head>
  <body>

    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Nous contacter</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Par email</h2>
            Tu peux nous contact par email à l'adresse suivante :<br>
            <a href="mailto:thp.grenoble.s8@yopmail.com?subject=feedback">
              thp.grenoble.s8@yopmail.com</a>
          </div>
          <div class="col-md-4">
            <h2>Par Slack</h2>
              Après, une bonne méthode aussi, c'est de passer par le
              <a href="https://thehackingproject.slack.com/messages/UHFNBN79D/" target = "_blank">slack THP</a>
          </div>
        </div>
        <hr>
      </div>
    </main>
    <footer class="container">
        <p>&copy; En tout cas, si tu as des commentaires (et qu'ils sont positifs)
        ils sont les bienvenus.
        </p>
    </footer>
  </body>
</html>
