<html>
  <head>
    <meta charset=utf-8 />
    <title>Gossip accueil</title>
  </head>
  <body>

    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">La Team</h1>
          <p>Parce qu'à Grenoble on est trop chaud !!!!!!.</p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/orgs/thp-grenobles8/dashboard" role="button" target="_blank">Notre Git-hub &raquo;</a></p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Clément Cocquille</h2>
            <p><a class="btn btn-secondary" href="https://thehackingproject.slack.com/messages/" role="button" target="_blank">Contact Slack @Clément Coquille &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Florian Chazot</h2>
            <p><a class="btn btn-secondary" href="https://thehackingproject.slack.com/messages/" role="button" target="_blank">Contact Slack @Florian Chazot &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Guillaume Silvent</h2>
            <p><a class="btn btn-secondary" href="https://thehackingproject.slack.com/messages/" role="button" target="_blank">Contact Slack @Gui3 &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Tristan Morin</h2>
            <p><a class="btn btn-secondary" href="https://thehackingproject.slack.com/messages/" role="button" target="_blank">Contact Slack @Tristan M. &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Anis Bouhouche</h2>
            <p><a class="btn btn-secondary" href="https://thehackingproject.slack.com/messages/" role="button" target="_blank">Contact Slack @Anis &raquo;</a></p>
          </div>
        </div>
        <hr>
      </div>
    </main>
    <footer class="container">
        <p>&copy; En tout cas, si tu as des commentaires (et qu'ils sont positifs)
        ils sont les bienvenus.
        </p>
    </footer>
  </body>
</html>
