/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .card-body a{
   color: white;
   text-decoration: underline;
 }

 .alert {
   margin: auto;
   width: 960px;
 }

.yield {
  margin-bottom: 20px;
}

.title_gossip {
  display : flex;
  justify-content : space-between;
}

.fas, .far {
  color: Red;
}

.fa-comment {
  color: Darkblue;
}


.heart .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: Gainsboro;
  color: Black;
  font-size: 13px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid Darkgrey;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  margin-top: -10px;
}

.heart:hover .tooltiptext {
  visibility: visible;
}
.heart_index{
  padding-right: 60px;
}
